@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    padding: 0rem;
    margin: 1rem;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.question {
    color: blue;
}

.acknowledge {
    color: greenyellow;
}

.right {
    color: green
}

.wrong {
    color: red;
}

.showEm {
    color: greenyellow;
}

