{% extends 'base.html' %}


{% block content %}
<div class="border-2 h-32 flex justify-center items-center">
    <a  href="{% url 'texas_app:create' %}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded p-2">Contribute!</button></a>
  </div>

  <div class="flex justify-center">
    {% for post in object_list %}
    <div class="relative border-2 h-44 w-56 h-80" >
        <h1 class="text-center pb-1">{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <div class="dropdown [&>*]:hover:block absolute bottom-0 left-0 p-2">
            <div class="dropdown-content hidden">
                <a href="{% url 'texas_app:delete' post.pk %}">delete</a>
                <a href="{% url 'texas_app:edit' post.pk %}">edit</a>
            </div>
            <i class="fa-solid fa-grip-lines "></i>
          </div>
        
        <p class="absolute bottom-0 right-0 overline pt-1">{{ post.date }}</p>
    </div>
    {% endfor %}
  </div>








  {% endblock content %}