<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue 3.0</title>
</head>
<body class="bg-gray-500 text-amber-300">
<div  id="app">
    <div class="flex flex-col items-center h-36">
        <h1 class="text-2xl">PUTTEM IN!</h1>
        <input v-model="newItem" v-on:keyup.enter="submitItem" class="m-4 text-black" type="text" placeholder="Press Enter To Submit">
    </div>
    <div class="flex flex-col items-center h-36">
        <h1 class="">TO DO</h1>
         <div v-for="item in toDoList">
            <div v-if="item.isComplete === false">
                <button @click="deleteItem(item)" class="text-white rounded-full bg-red-500 h-5 w-5 text-[.5rem]">X</button>
                <span class="p-2">{{item.item}}</span>
                <button @click="swappem(item)" class="p-1 bg-amber-300 text-stone-900 rounded-full">CLICK TO DID!</button>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center h-36">
        <h1>COMPLETED</h1> 
        <div v-for="item in toDoList">
            <div v-if="item.isComplete === true">
                <button @click="deleteItem(item)" class="text-white rounded-full bg-red-500 h-5 w-5 text-[.5rem]">X</button>
                <span class="p-2">{{item.item}}</span>
                <button @click="swappem(item)" class="p-1 bg-amber-300 text-stone-900 rounded-full">CLICK TO DIDN'T!</button>
            </div>
        </div>

    </div>
    
</div>
    <!-- Import App -->
<script src="./main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>