<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body class="bg-[#320d3e]">
    <!-- colors fuchsia-{#d902ee] sepia-[#ffd79d] hot-pink-[#f162ff] dark-violet-[#320d3e] -->

<div id="app" >

    <div class="flex justify-center items-center border-b-4 border-[#d902ee] h-20">
        <p class="text-4xl text-[#ffd79d]">TRIVIA BLASTER!</p>
    </div>
    <br>

    
    <div class="flex justify-center">
        <transition name="fade" mode="out-in" @leave="onLeave" @enter="onEnter">
            <button id="play-button" @click="getData()" v-on:click="toggleSeen" v-if="seen" class="play_buttons bg-[#ffd79d] rounded-full h-10 w-14 text-[#320d3e] font-bold">Play!</button>
            <div v-else-if="transitionState === true" class="border-2 mr-2 ml-2 p-1 border-[#ffd79d]">
                <p class="text-[#ffd79d]">{{this.convertHTML(this.question)}}</p>
                <div v-for="answer in answers">
                    <button @click="continueGame(answer)" class="play_buttons text-[#f162ff]">{{this.answers.indexOf(answer)+1}}. {{this.convertHTML(answer)}}</button>

                </div>
            </div>
            <div v-else-if="transitionState === false" class="border-2 mr-2 ml-2 p-1 border-[#ffd79d]">
                <p class="text-[#ffd79d]">{{this.convertHTML(this.question)}}</p>
                <div v-for="answer in answers">
                    <button @click="continueGame(answer)" class="play_buttons text-[#f162ff]">{{this.answers.indexOf(answer)+1}}. {{this.convertHTML(answer)}}</button>
                </div>
            </div >
            <div v-else-if="transitionState === 'game_over'">
                <p class="text-[#ffd79d] text-2xl">Thanks for playing!</p>
                <p class="text-[#f162ff] text-center">Your score was <span class="text-[#ffd79d]">{{this.score}}</span>/<span class="text-[#ffd79d]">10</span>.</p>
            </div>
        </transition>
    </div>
    <div class="flex justify-center">
        <p id="hidden-text" class="text-[#f162ff]"></p>
    </div>
        

</div>

<!-- Import App -->
<script src="./script.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>

    
</body>
</html>