


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: steelblue;
    /* border: 1px solid black; */
    
}


#header_div{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
}

#header{
    position: relative;
    right: 2rem;
    
}

.link{
    margin: .5rem;
}




.hr_border{
   border: 0;
   border-top: 0.1rem solid black;
   padding-bottom: 0.35rem;
}


#half_body{
    /* border:  solid blueviolet; */
    display: flex;
    justify-content: center;

}


#side_nav{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    width: 7rem;
    padding: 0.5rem;
}



#main_article{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: auto;
    padding: .4rem;
    font-size: small;
}

#main_article *{
    margin: .1rem;
}

#footer{
    /* border: solid red; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 25rem;
    border-top: 0.1rem solid black;
}

#footer_link{
    display: flex;
    align-items: flex-end;
}

#date{
    align-self: flex-end;
}
