*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(232, 232, 232);
}

#app{
    display: flex;
    flex-direction: column;
}

#lower_wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#input_wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

button, input {
    border-radius: 6px;
    border: 1px solid black;
    padding: 0.1rem 0.5rem;
}

#submit_btn{
    padding-inline: 0.5rem;
}

#todo_item {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fd6e41;
    border-radius: 6px;
}

#todo_complete {
    margin-bottom: 1rem;
    padding: 0.3rem;
    background-color: rgb(91, 224, 91);
    border-radius: 7%;
}

#todo_item p, #todo_complete p {
    margin-bottom: 1rem;
}


#btn_complete {
    background-color: rgb(91, 224, 91);
    border: 1px solid black;
    margin-right: 9rem;
    /* border-radius: 6px; */
}

#btn_uncomplete {
    background-color: #3f98ea;
    margin-right: 9rem;
}

#btn_delete {
    background-color: rgb(165, 72, 77);
}