*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(209, 209, 66);
}

#app{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

#lower_wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#input_wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

#submit_btn{
    padding-inline: 0.5rem;
}