<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktop_styles.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        </style>
    <title>Contact</title>
</head>
<body>
    <div class="nav_bar">
        <div class="avatar">
            <img id="img_avatar" alt="avatar" src="{{ url_for('static', filename='images/clerks.png') }}">
        </div>
        <div class="nav_menu">
            <br>
            <h2>Inconvenience</h2>
            <br><br>
                <div id="links">
                    <a href="/">Home</a><br>
                    <a href="/contact">Contact</a><br>
                    <a href="/about">About Me</a>
                </div>
        </div>
    </div>
    <div class="main">
        <div class="contact">
            <div class="contact_card">
                <p class="headline">t.bor22</p>
                <div class="contact_links">
                    <p>twitter</p>
                    <p>github</p>
                    <p>email</p>
                </div>
            </div>    
        </div>
        <div class="footer_bar">
            <p class="footer_text">t.bor22</p>
        </div>
    </div>
</div>    
</body>
</html>