<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div id="header_div">
        
        <h3 id="header">blaster COMMANDER attribute</h3>

    </div>

    <div id="half_body">

        <div id="side_nav">
            <h6 id="about_link"><a href="/about">about</a></h6>
            <h6 id="second_link"><a href="/about">second link</a></h6>
        </div>

        <div id="main_article">
            <p>&emsp;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam consectetur neque et earum! Nobis dignissimos non ex, officiis impedit illum nihil porro, eaque, doloremque unde quia quos repellendus et?</p>
            <p>&emsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum obcaecati hic accusamus facere sapiente autem, maiores earum nemo neque. Excepturi eius quisquam officia molestiae ex saepe iure quibusdam ipsum consectetur!</p>
            <p>Hi</p>
        </div>
    </div>

    <div id="footer">
        <h4>Footer stuff</h4>
    </div>
</body>
</html>