<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\styles.css">
    <title>Order Burritos</title>
</head>
<body>
    <header>
        <h1>We make burritos</h1>
        <p>....and we make 'em how you like 'em</p>
    </header>

    <section>
        <form action="https://webhook.site/9f1cc194-0e27-4124-bfd3-9f9f71847667" and method="post">
            
            <div id="name">
                <label>Name: </label>
                <input type="text" name="Name">
            </div>
            
            <div id="password">
                <label>Password: </label>
                <input type="password" name="Password">
            </div>
            <div id="tortilla">
                <label>Tortilla: </label> 
            </br>
                <div id="tortilla_items">
                    <div id="whiteFlourContainter">
                        <input type="radio" id="whiteFlour" value="White Flour" name="tortilla">
                        <label for="whiteFlour"> White Flour</label>
                    </div>
                    <div id="wheatFlourContainer">
                        <input type="radio" id="wheatFlour" value="Wheat Flour" name="tortilla">
                        <label for="wheatFlour"> Wheat Flour</label>
                    </div>
                    <div id="spinachContainer">
                        <input type="radio" id="spinach" value="Spinach" name="tortilla">
                        <label for="spinach"> Spinach</label>
                    </div>
                    <div id="cornContainer">
                        <input type="radio" id="corn" value="Corn" name="tortilla">
                        <label for="corn"> Corn</label>
                    </div>
                </div>
            </div>
            <div id="rice">             
                <label>Rice: </label>
                <div id="rice_items">
                    <div id="whiteRice">
                        <input type="radio" value="White Rice" name="rice">
                        <label for="whiteRice">White Rice</label>
                    </div>
                    <div id="brownRice">
                        <input type="radio" value="Brown Rice" name="rice">
                        <label for="brownRice">Brown Rice</label>
                    </div>
                </div>
            </div>
            <div id="beans">
                <label>Beans: </label>
                <div id="bean_items">
                    <div id="blackBeans">
                        <input type="radio" value="Black Beans" name="beans">
                        <label for="blackBeans">Black Beans</label>
                    </div>
                    <div id="pintoBeans">
                        <input type="radio" value="Pinto Beans" name="beans">
                        <label for="pintoBeans">Pinto Beans</label>
                    </div>
                </div>
            </div>
            <div id="protein">
                <label>Protein: </label>
                <div id="protein_items">
                    <div id="carnitas">
                        <input type="radio" value="Carnitas" name="protein">
                        <label for="carnitas">Carnitas</label>
                    </div>
                    <div id="chicken">
                        <input type="radio" value="Chicken" name="protein">
                        <label for="chicken">Chicken</label>
                    </div>
                    <div id="sofritas">
                        <input type="radio" value="Sofritas" name="protein">
                        <label for="sofritas">Sofritas</label>
                    </div>
                    <div id="none">
                        <input type="radio" value="None" name="protein">
                        <label for="none">None</label>
                    </div>
                </div>
            </div>
            <div id="additionals">
                <label for="additionals">Additions: </label>
                <div id="additional_items">
                    <div id="cheese">
                        <input type="checkbox" value="Cheese" name="Cheese">
                        <label for="cheese">Cheese</label>
                    </div>
                    <div id="sour_cream">
                        <input type="checkbox" value="Sour Cream" name="Sour Cream">
                        <label for="sour_cream">Sour Cream</label>
                    </div>
                </div>
            </div>
            <textarea rows="4" name="Delivery Instructions" placeholder="Delivery Instructions"></textarea>
            <input type="submit" value="Submit" id="sumbit">
        </form>
        <img alt="Guy lamborghini" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Funiverse-of-smash-bros-lawl%2Fimages%2Fa%2Fa3%2FGuy_Fieri.png%2Frevision%2Flatest%3Fcb%3D20160128070849&f=1&nofb=1">  
    <section>

    </body>
</html>