{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'biz_app/styles.css' %}">
    <title>Biz Finder</title>
  </head>
  <body>
    <main>
      <div>

        <nav>
          <h1 id='logo'>Local Biz Finder</h1>
          <div>
            <a href="{% url 'biz_app:home' %}">Home</a>
            <a href="{% url 'biz_app:addbiz' %}">Add Your Biz</a>
          </div>
        </nav>
        {% block home %}
        {% endblock %}
        
        {% block addbiz %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>