* {
    padding: 0rem;
    margin: 0rem;
}

#name {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
}

#password {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
}

#tortilla {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

#tortilla_items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem;
}

#rice {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

#rice_items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem;
}

#bean_items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem;
}

#beans {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

#protein {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

#protein_items {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem;
}

#additionals {
    display: flex;
    font-size: x-large;
    margin: 1rem;
    align-items: center;
}

#additional_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

textarea {
    margin: 1rem;
}

submit {
    margin: 1rem;
}

header {
    width: 100%;
    padding: 6rem 0;
    text-align: center;
    background: #e770009f;
    color: white;
}

header h1 {
    font-size: 5rem;
    padding: 10px 0;
    font-weight: 800;
}

header p {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 5px;
}

section {
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3rem 7rem 0rem 0rem;
}
