*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 1.5; */
    /* font-family:'Montserrat', sans-serif; */
    color: antiquewhite;
    }
    
    body{
        background-color: black;
        padding: 0.4rem;
    }
    
    .logo{
        width: 170px;
        height: 150px;
    }
    
    .container{
        display:flex;
        width: 11rem;
    }
    
    .container2{
        display: flex;
        align-items: center;
        background-image:linear-gradient(rgba(14, 2, 2, 0.932), rgba(255,255,255,0.2)),
        url("https://th.bing.com/th/id/OIP.WGtakevXoyYY4Z4_uczeTQHaLI?w=115&h=180&c=7&r=0&o=5&pid=1.7");
        width: 10rem;
        height: 20rem;
        margin-left: 0.8rem;
        background-repeat: no-repeat;
        background-size: 10rem 20rem;
        margin-right: 1.5rem;
        margin-top: 3rem;
    }
    
    li{
        display: flex;
        align-items: center;
    }
    
    ul{
        display:flex;
        width: 12rem;
        height: 8rem;
    }
    
    ul li{
        padding: 0 0.8rem;
        font-size: 0.rem;
    }
    
    button{
        background: none;
        border: none;
        font-family:'Bungee Spice', cursive;
        font-size: 1.6rem;
        font-weight: 600;
        /* background-color: rgba(255, 255, 255, 0.226); */
        padding: 1rem;
    }
    
    .middle{
        display: flex;
        justify-content: center;
    }
    
    .container3{
        display: flex;
        justify-content: center;
        background-image:linear-gradient(rgba(14, 2, 2, 0.863), rgba(255,255,255,0.2)), url(https://th.bing.com/th/id/OIP.sx-uu2X2nPxvYEH5B7cvggHaEK?w=315&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7);
        background-repeat: no-repeat;
        background-size: 10rem 20rem;
        height: 20rem;
        width: 10rem;
        margin-top: 3rem;
    }
    
    .facebook{
        height: 2.5rem;
        width: 2.5rem;
    }
    
    
    .insta{
        height: 2.5rem;
        width:2.5rem;
    }
    
    .youtube{
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .container4{
        margin: 3rem;
        justify-content:space-evenly;
        display: flex;
        padding-top: 3rem;
        width: 12rem;
        margin-left: 5.9rem;
    }
    
    
    