{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <nav>
        <h1>Black Thumbs Unite!</h1>
        <div>
            {% if user.is_authenticated %}
              <a href="{% url 'users_app:profile' user.username %}">{{ user }}</a>
            {% endif %}
            <a href="{% url 'blog_app:home' %}">Home</a>
            {% if user.is_authenticated == False %}
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'users_app:signup' %}">Sign up</a>
            {% endif %}
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </nav>
    
    <div id='container'>

        <div id='new-btn'>
          {% if user.is_authenticated %}
            <a  href="{% url 'blog_app:new' %}">New Post</a>
          {% endif %}
        </div>

        {% block content %}
         <div class="'profile-posts">
        {% for post in object_list %}
            <div class='posts2'>
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p>
                <h3>{{ post.author }}</h3>
            </div>
        {% endfor %}
        {% endblock content %} 
    </div>
  </body>
</html>