@media only screen and (min-width: 1000px) {

    
    img {
        margin: 1.5rem 0rem 4rem 0rem;
        width: 50rem;
    }
    

    aside {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 6rem;
        margin: 1rem;
        margin-right: 2rem;
    }

    aside img {
        width: 5rem;
    }


}
