<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Burritos!</title>
</head>
<body id="form">
    <h1>Welcome to El Luchador!</h1>
    <h2>!!!ORDER HERE!!!</h2>   
    <h3>Tortilla</h3>
    {% for instances in tortilla %}
        <ul>
            <input type="radio">
            <label>{{instances}}
        </ul>
    {%endfor%}
</body>
</html>