@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    margin: 0rem;
    padding: 0rem;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-family: 'Silkscreen', cursive;
}

#banner {
    height: 20rem;
    width: 100%;
}

#bothSelections {
    margin: 2rem;
    display: flex;
    gap: 5rem;
}

#selections, #computerSelections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#computerSelections img {
    visibility: hidden;
}

#bothSelections img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

#resetGame {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

input {
    display: none;
}

@media screen and (max-width: 600px) {
    #bothSelections {
        flex-direction: column;
    }
}