@media screen and (max-width: 1440px) {

    body {
        font-size: x-large;
    }

    #ad_image {
        height: 25rem;
    }

    #what_is_go_hunt {
        margin: 10rem;
    }

    .articles_row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #articles_column img {
        width: 45rem;
    }

}
