* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HCo Ringside Wide","Ringside Wide", Inter, Helvetica, Airal, sans-serif;
}

.header_icon {
    padding: 1rem;
    font-weight: 700;
    font-size: 13px;
}

.footer_icon {
    padding: 2rem;
}

.header_right_icon {
    padding: 0rem 1rem 0rem 1rem;
}

#logo {
    padding: 0rem;
    margin: 0rem;
}

#left_header {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#right_header {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

#button_login {
    background-color: #1c1c1d;
    color: #fafafa;
    border-radius: 5rem;
    padding: .5rem 1rem .5rem 1rem;
    border: transparent;
}

#button_signup {
    background-color: #f37735;
    color: #f9f2fa;
    border-radius: 5rem;
    padding: .5rem 1rem .5rem 1rem;
}

#menu_bar {
    display: flex;
    border-top: solid #424c42;
    border-bottom: solid #424c42;
    padding: 2rem;
    margin: 2.5rem 0rem 2.5rem 0rem;
}

#ad_image {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1d;
    color: #e5e5e5;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #202620;
    color: #fafafa;
}

nav {
    display: flex;
}

