{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if mode == "light" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light_mode.css' %}"/>

    {% elif mode == "dark" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_mode.css' %}"/>

    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light_mode.css' %}"/>

    {%endif%}
    <title>Grocery List Settings</title>
  </head>
  <body>



    <h1>Not Completed Items</h1>
    {% if message|length > 0 and which == "all_completed" %}
      {{message}}
    {%endif%}
    {% for grocery_item in grocery_list %}
    <div>
      {% if not grocery_item.completed %}
      <h2>{{grocery_item.description}}</h2>
      <p>{{grocery_item.created_date}}</p>
      <p>{{grocery_item.completed}}</p>
      <a href="{% url 'grocery_list_app:delete_item' grocery_item.id %}" >Delete Item</a>
      {% endif %}
    </div>
    {% endfor %}
    <h1>Completed Items</h1>
    {% if message|length > 0 and which == "no_completed" %}
      {{message}}
    {%endif%}
    {% for grocery_item in grocery_list %}
    <div>
      {% if grocery_item.completed %}   
      <h2>{{grocery_item.description}}</h2>
      <p>{{grocery_item.created_date}}</p>
      <p>{{grocery_item.completed}}</p>
      <a href="{% url 'grocery_list_app:reset_this_item' grocery_item.id %}" >Reset to not completed</a> 
      <a href="{% url 'grocery_list_app:delete_item' grocery_item.id %}" >Delete Item</a>
      {% endif %}
    </div>
    {% endfor %}
    <div>
      <form action="{% url 'grocery_list_app:change_mode' %}" method="post">
        {% csrf_token %}

        <input type="radio" value="light" name="mode">
        <label for="light">Light Mode</label>
        <input type='radio' value="dark" name="mode">
        <label for="dark">Dark Mode</label>

        <button type=submit value=Change>Change</button>
      </form>
    </div>
    <div>
      <a href="{% url 'grocery_list_app:index' %}"><h1>EXIT Settings</h1></a>
    </div>
  </body>
</html>