@media only screen and (min-width: 600px){
    .headers{text-align: center;
        font-size: 2rem;
        color: rgba(0, 208, 255, 0.692);
        background-color: rgb(0, 0, 0,.5);
        margin: 2rem;
    }
}