@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #7C98B3;
    color: #CAD2C5;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0.5rem;
    background-color: #637081;
}

#nav_link{
    color: #CAD2C5;
    text-decoration: none;
}

#post a {
    color: #dcaf62;
    text-decoration: none;
}

#nav_link:hover {
    color: #b9a47f;
    text-decoration: none;
}

#new_post{
    display: flex;
    justify-content: center;
    background-color: #637081;
}

#posts_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 100vw; */
    /* padding-inline: 40rem; */
}

#post{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    min-width: 40rem;
    max-width: 50rem;
    background-color: #637081;
    border: 5px solid #27333a;
}

#post.private {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    min-width: 40rem;
    max-width: 50rem;
    background-color: #573f4b;
    border: 5px solid #573f4b;
}

#post_title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    margin: -0.1rem;
    background-color: #27333a;
}

#post_dates{
    display: flex;
    justify-content: space-between;
}

#post_dates a {
    color: #b9a47f;
}

#post_body {
    text-align:justify ;
    padding: 0.5rem;
    background-color: transparent;
}

#edit_delete{
    display: flex;
    gap: 1rem;
    padding-left: 0.5rem;
    font-size: 10pt;
    font-weight: 200;
    border-top: 2px solid #27333a;
}

#post h2{
    font-size: 14pt;
}

#post h3{
    font-size: 10pt;
    font-weight: 200;
    text-align: left;
}

#post h4{
    font-size: 10pt;
    font-weight: 200;
    text-align: right;
}

#post p{
    font-size: 14pt;
    font-weight: 200;
}


#profile_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
}

#avatar {
    width: 7rem;
    height: 7rem;
    border: 8px solid #27333a;
}

#profile_member_info{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#profile_name_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

#profile_private{
    display: flex;
    color: rgb(106, 60, 60);
    /* border: 1px solid blue; */
} 