{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'url_app/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <title>URL Shortener</title>
</head>

<body>
<main>

    {% include 'url_app/navbar.html' %}
    
    <div id="cards">
        {% for url_instance in url_instances %}
            <div id="card">
                <ul>{{ url_instance.url_name }}</ul>
                <ul><a href="{% url 'url_app:send_to_page' url_instance.short_url_code  %}">http://127.0.0.1:8000/{{url_instance.short_url_code}}</a></ul>
                {% comment %} <ul><a href="{% url 'url_app:send_to_page' url_instance.short_url_code  %}">Short Code Link</a></ul> {% endcomment %}
                <br>
            </div>
        {% endfor %}
    </div>

</main>
</body>
</html>